<footer class="footer">
    <div class="f-info">


        <div class="f-info-socials">

            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>

        <div>© 2025 Airbnb, Inc</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="">Sitemap</a>
            <a href="">Company details</a>
        </div>
    </div>
</footer>