<% layout('layouts/boilerplate') -%>

  <div class="row mt-3">
    <div class="col-8 offset-2">


      <h class="ml-3">Create A New Listing</h3>
      <form action="/listings" method="POST">

        <div class="mb-3">
          <label class="form-label" for="title">Enter Title : </label><br>
          <input
          class="form-control"
          type="text"
          id="title"
          name="listing[title]"
          placeholder="please enter the title..." >
          
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Enter Description :</label><br>
          <textarea
          class="form-control"
          id="description"
          name="listing[description]"
          placeholder="please enter the description..."></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="image">Enter Image URL :</label><br>
          <input
          class="form-control"
          type="text"
          id="image"
          name="listing[image]"
          placeholder="https://media.randphoto.com/id/1402485839/photo/.....">
        </div>
        
        <div class="row">

          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Enter Price :</label><br>
            <input
            class="form-control"
            type="number"
            id="price"
            name="listing[price]"
            placeholder="1500">
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Enter Country :</label><br>
            <input
            class="form-control"
            type="text"
            id="country"
            name="listing[country]"
            placeholder="India">
          </div>

        </div>


        <div class="mb-3">
          <label class="form-label" for="location">Enter Location :</label><br>
          <input
          class="form-control"
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan">
        </div>

        <button type="submit" class="btn btn-secondary mb-3 add-btn">Submit</button>
        <button type="reset" class="btn btn-secondary mb-3 reset-btn">Reset</button>
      </form>
    </div>
  </div>